* {
    background-color:goldenrod;
}

form {
    display: flex;
    align-items: center;
    justify-content: left;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    height: 25px;
    margin: 5px;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5em;
    width: 100vw;
}